-ARCH_MATH_H=y
-CLOCK_MONOTONIC=y
+EXAMPLES_TFLITE_MICRO_DEBUGLOG=y
+LIBCXX=y
+LIBCXX_EXCEPTION=n
+LIBM=y
+CXD56_SDIO=y
+FAT_LCNAMES=y
+FAT_LFN=y
+FAT_MAXFNAME=255
+FS_FAT=y
+FS_FAT=y
+FS_PROCFS=y
+FS_PROCFS_REGISTER=y
+FS_SMARTFS=y
+MMCSD=y
+MMCSD_SDIO=y